.contactPageTitle {
    border-top: 1px solid #4e4e60;
    font-family: 'Open Sans', sans-serif !important;
    position: relative;
    margin-top:30px;
    color: #4e4e60;
}
.contactPageTitle h1 {
    position: absolute;
    top: -30px;
    text-align:center;
    width:100%;
    padding:0;
    margin:0px;
}
.contactPageTitle h1 span {
    background:#eaeaea;
    display: inline-block;
    padding: 5px;
}

/*The style for the form*/

#cName {
    font-size:14pt;
    height:25px;
    width:100%;
}


#cEmail {
    font-size:14pt;
    height:25px;
    width:100%;
}

#cSubject {
    font-size:14pt;
    height:25px;
    width:100%;
}

#cMessage {
    font-size:14pt;
    height:100px;
    width:100%;
}

#cInputButton {
    height:55px; 
    width:100%;
    color: white;
    background-color: #4e4e60;
}

#cInputButton:hover{
    color: #eaeaea;
}

.contactForm {
<<<<<<< HEAD
/*  position: fixed;*/
  
/*  top: 40%;*/
/*
  left: 15%;
  margin-top: -50px;
  margin-left: -100px;
=======
  width:90%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
>>>>>>> cebda9bad062a18923ef79d87ca08084483c979f
  overflow: hidden;
*/
}

