@charset "utf-8";

/*********************GLOBAL*********************/

body {
    font-family: 'Open Sans', sans-serif !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
    height: 100%;
}

[data-role=page] {
    height: 100% !important;
    position: relative !important;
    left: 0;
    right: 0;
    overflow: auto;
}

[data-role=header] img {
    height: 35px;
    padding: 0;
    margin: 0;
    border: 0 !important;
}

.ui-page .ui-header h1 {
    margin: 0px;
    padding: 0px;
    padding-top: 3px;
}

a[data-icon=bars],
a[data-icon=calendar] {
    border: 0 !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.ui-page .ui-header h1 a:nth-child(1) {
    margin: 0;
    display: block;
    padding: 0;
}

.ui-page .ui-header,
.ui-page .ui-footer {
    background: #4e4e60 !important;
    text-shadow: none !important;
    color: white !important;
    font-weight: 00 !important;
    border: 0;
    height: 42px;
    overflow: visible;
}

[data-role=footer] {
    bottom: 0;
    position: fixed!important;
    top: auto !important;
    width: 100%;
}

[data-role=footer] .footerContainer {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 100%;
    text-align: center;
}

[data-role=footer] .footerTaskbar1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 38px;
    width: 22%;
}

[data-role=footer] .footerTaskbar2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 50%;
}

[data-role=footer] .footerTaskbar3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 38px;
    width: 22%;
}

[data-role=footer] .footerTaskbar1 img {
    position: relative;
    display: inline;
    width: 40px;
    top: -10px;
    z-index: 1;
    /*    overflow: visible !important;*/
}

[data-role=footer] .footerTaskbar1 p {
    font-size: 15px;
    color: #ffffff;
    text-shadow: 0 !important;
    font-weight: 100;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
    top: -25px;
    z-index: 2;
}

[data-role=footer] .footerTaskbar2 img {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    display: inline;
    width: 26px;
    top: -27px;
}

[data-role=footer] div .footerVerticalRuler {
    height: 35px;
    position: relative;
    top: 4px;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

[data-role=footer] .footerTaskbar3 img {
    width: 25px;
    position: relative;
    display: inline;
    top: -15px;
    z-index: 1;
}

[data-role=footer] .footerTaskbar3 p {
    font-size: 14px;
    color: #ffffff;
    text-shadow: 0 !important;
    font-weight: 100;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
    text-align: center;
    top: -22px;
    z-index: 2;
}

[data-role=footer] a {
    text-decoration: none;
}

.stickyFooterFix {
    padding: 0;
    margin: 0;
    height: 60px;
}

[data-role=popup] {
    max-width: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    border: 0 !important;
    border-radius: 0 !important;
}

[data-role=popup] [data-role=header] {
    box-shadow: 0;
    border: 0;
    background: #eaeaea;
}

[data-role=popup] [data-role=header] h1 {
    margin: auto;
    font-size: 16px;
    box-shadow: 0;
    font-weight: 100;
}

[data-role=popup] [role=main].newsletterPopupMain {
    background: #eaeaea;
    font-weight: 100 !important;
}

[data-role=popup] [role=main] .ui-corner-all:nth-child(1) {
    border-radius: 0;
    box-shadow: 0;
    border-color: #646464;
    background: white;
}

[data-role=popup] form div:nth-child(2) {
    font-weight: 100;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom:20px;
}

[data-role=popup] [role=main] .ui-corner-all:nth-child(2) {
    border-radius: 0 !important;
    text-shadow: none;
    box-shadow: none;
    background: #4e4e60 !important;
    color: white !important;
    font-weight: 100 !important;
    font-size: 10px !important;
    width: 30%;
}

[data-role=popup] [role=main] p{
    font-size:10px;
}

/***********MAIN PAGE***********/


/*
#page_home [data-role=content] h1{
    font-family: 'Yellowtail', cursive;
    font-size: 7vmax;
    font-weight: 100;
}
*/

#homePageCarousel .item img {
    display: block;
    width: 100%;
    height: auto;
}